__pycache__

analysis/__pycache__

config/__ini
config/__pycache__

data/csv/*
data/xlsx/*
data/else/*
!data/csv/.gitkeep
!data/xlsx/.gitkeep
!data/else/.gitkeep

results/*
!results/.gitkeep

data/*
!data/.gitkeep

db/net/*
db/raw/*
!db/net/.gitkeep
!db/raw/.gitkeep

fig/*
!fig/.gitkeep



